.container {
  display: flex;
  flex-direction: column;
  

}
.main {
    display: flex;
  flex-direction: column;
  height: 100vh;
      justify-content: center;
    align-items: center;
  background-color: #f0f0d8;
}
